.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.cartPopup {
  border: 1px solid #9c9fa8;
  border-radius: 8px;
  padding: 24px;
  max-width: 1039px;
  max-height: 962px;
  background: #fff;
  width: 80%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #1a1c2b;
  overflow: unset;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  height: 41px;
  h2 {
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
  }
}

.closeButton {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.itemsList {
  margin-top: 32px;
  :nth-last-child(1) {
    border-bottom: 1px solid rgba(149, 177, 174, 0.5);
  }
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgba(149, 177, 174, 0.5);
  padding: 16px 20px;
  height: 82px;
  :nth-last-child(1) {
    border-bottom: none;
  }
}

.itemLeftPart, .itemRightPart {
  display: flex;
  align-items: center;
}

.image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-right: 16px;
  border-radius: 4px;
}

.name {
  flex: 1;
}

.art {
  font-size: 14px;
  color: #444861;
  margin-right: 16px;
  margin-left: 49px;

  @media (max-width: 920px) {
    display: none;
  }
}

.id {
  color: #9c9fa8;
}

.button {
  background: none;
  border: none;
  padding: 7px 0;
  cursor: pointer;
}

.countInput {
  border: 1px solid rgba(149, 177, 174, 0.5);
  border-radius: 4px;
  padding: 8px 14px;
  width: 38px;
  height: 38px;
  margin: 0 16px;
  font-size: 16px;
  line-height: 140%;
  color: #1b4744;
  &::-webkit-inner-spin-button {
    appearance: none;
  }
}

.price {
  white-space: nowrap;
  margin-left: 32px;
}

.deleteButton {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 32px;
}

.navigate {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.proceed {
  min-width: 410px;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0 20px;

  .total {
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #1a1c2b;
    span {
      font-weight: 500;
      font-size: 20px;
      line-height: 120%;
      color: #1a1c2b;
    }

  }
}

.backButton {
  display: flex;
  gap: 8px;
  align-items: center;
  border: 1px solid #95b1ae;
  border-radius: 8px;
  padding: 12px 60px;
  min-width: 335px;
  height: 51px;
  background: none;
  font-size: 18px;
  line-height: 120%;
  color: #95b1ae;
  cursor: pointer;
}

.proceedButton {
  width: 100%;
  height: 46px;
  cursor: pointer;
  background-color: #95b1ae;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  color: #fcfcfc;
  border: none;
  border-radius: 8px;
  margin-top: 20px;
}

.similar_products {
  padding-top: 52px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  gap: 23px;

  @media (max-width: 1028px) {
    padding-top: 50px;
    width: 100%;
  }

  .similar_products_top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    h3 {
      font-weight: 500;
      font-size: 24px;
      line-height: 120%;
      color: #1b4744;

      @media (max-width: 1028px) {
        font-size: 24px;
      }
    }

    .nav {
      display: flex;
      flex-direction: row;
      gap: 12px;
    }
  }

  .similar_products_cards {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
}
