.catalogue {
  display: grid;
  margin-bottom: 50px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: min-content 1fr 1fr;
  grid-column-gap: 24px;
  grid-row-gap: 30px;
  grid-auto-flow: row;
  grid-template-areas:
    "Title Title Nav"
    "Item1 Item2 Item3"
    "Item1 Item4 Item5";
  @media screen and (min-width: 1880px) {
    grid-column-gap: 41px;
    grid-row-gap: 40px;
    margin-bottom: 75px;
  }
}

.Title {
  grid-area: Title;
  margin: 50px 0 10px 0;
  @media screen and (min-width: 1880px) {
    margin: 82px 0 23px 0;
  }
}

.Nav {
  grid-area: Nav;
  justify-content: flex-end;
}

.Nav,
.Title {
  display: flex;
  align-items: center;
}

.Nav div {
  margin: 37px 0 0 12px;
  @media screen and (min-width: 1880px) {
    margin: 60px 0 0 18px;

  }
  //margin-left: 12px;
}

.Item1 {
  grid-area: Item1;
  width: 410px;
  height: 479px;
  @media screen and (min-width: 1880px) {
    width: 546px;
    height: 638px;
  }
}

.Item2 {
  grid-area: Item2;
}

.Item3 {
  grid-area: Item3;
}

.Item4 {
  grid-area: Item4;
}

.Item5 {
  grid-area: Item5;
}

.Item2,
.Item3,
.Item4,
.Item5 {
  width: 411px;
  height: 224px;
  @media screen and (min-width: 1880px) {
    width: 546px;
    height: 299px;
  }
}