@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@500&display=swap');

.sectionTitle h2 {
  font-family: Unbounded, sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
  color: #1B4744;
  @media screen and (min-width: 1880px) {
    font-size: 48px;
    line-height: 24px;
  }
}