@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@500&display=swap');

.sectionTitle h2 {
  font-family: Unbounded, sans-serif;
  font-size: 36px;
  font-weight: 500;
  line-height: 18.01px;
  text-align: left;
  color: rgba(27, 71, 68, 1);
}