.main {
  overflow-x: hidden;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 1280px;
  @media screen and (max-width: 1099px) {
    width: 85vw;
  }
  @media screen and (min-width: 1880px) {
    width: 1720px;
  }
}

.mainScreen {
 display: grid;
  grid-template-columns: 1fr 1fr min-content;
  grid-template-rows: min-content min-content min-content min-content;
  grid-auto-flow: row;
  grid-template-areas:
    "Title Title ImageArea"
    "SubTitle SubTitle ImageArea"
    "BtnArea BtnArea ImageArea"
    "SliderArea SliderArea ImageArea";
  margin-bottom: 50px;
  @media screen and (max-width: 1099px) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content min-content min-content min-content;
    grid-auto-flow: row;
    grid-template-areas:
    "Title Title"
    "SubTitle SubTitle"
    "BtnArea BtnArea"
    "SliderArea SliderArea";
    margin-bottom: 50px;
  }
  @media screen and (min-width: 1880px) {
    margin-bottom: 75px;
  }
}

.Title {
  grid-area: Title;
  margin: 50px 0 0 89px;
  @media screen and (min-width: 1880px) {
    margin: 82px 0 0 125px;
  }
}

.SubTitle {
  grid-area: SubTitle;
  margin: 31px 155px 20px 112px;
  @media screen and (min-width: 1880px) {
    margin: 32px 341px 31px 232px;
  }
}

.BtnArea {
  grid-area: BtnArea;
  display: flex;
  justify-content: center;
  padding-right: 24px;
  @media screen and (min-width: 1880px) {
    padding-right: 41px;
  }
}

.SliderArea {
  grid-area: SliderArea;
  margin-top: 50px;
  @media screen and (min-width: 1880px) {
    margin-top: 73px;
  }
}

.ImageArea {
  grid-area: ImageArea;
  background-image: url("../../assets/images/Foto.png");
  background-position: center;
  background-size: auto 100%;
  background-repeat: no-repeat;
  width: 411px;
  height: 573px;
  margin: 27px 0 0 0;
  cursor: pointer;
  @media screen and (max-width: 1099px) {
    display: none;
  }
  @media screen and (min-width: 1880px) {
    width: 546px;
    height: 764px;
    margin: 36px 0 0 0;
  }
}
