.mainImagesSection {
  display: flex;
  position: relative;
  background-image: url("../../assets/images/forest.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 50vw;
  height: calc(100vh - 81px);
}

@media (max-width: 760px) {
  .mainImagesSection,
  .yaryloImage,
  .leafImage,
  .stillLifeImage {
    visibility: hidden;
  }
}

.yaryloImage {
  position: absolute;
  background-image: url("../../assets/images/yarylo.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: calc((30vw + 30vh) / 2.7);
  height: calc((30vw + 30vh) / 2.7);
  top: 3vh;
  left: calc((30vw + 30vh) / 2.5);
  z-index: 100;
}

.leafImage {
  position: absolute;
  background-image: url("../../assets/images/leaf.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: calc((50vw + 50vh) / 2.8);
  height: calc((50vw + 50vh) / 2.8);
  top: 20vh;
  left: 0;
  z-index: 90;
}

.stillLifeImage {
  position: absolute;
  background-image: url("../../assets/images/stillLife.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: calc((25vw + 25vh) / 2.7);
  height: calc((30vw + 30vh) / 2.7);
  top: calc((55vw + 55vh) / 2.8);
  left: calc((28vw + 28vh) / 2);
  z-index: 80;
}