.mainImagesSection {
  display: flex;
  position: relative;
  background-image: url("../../assets/images/forest.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 50vw;
  height: calc(100vh - 78px);
}

.yaryloImage {
  position: absolute;
  background-image: url("../../assets/images/yarylo.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 30vh;
  height: 30vh;
  top: 3vh;
  left: 34vh;
  z-index: 100;
}

.leafImage {
  position: absolute;
  background-image: url("../../assets/images/leaf.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 50vh;
  height: 50vh;
  top: 20vh;
  left: 0;
  z-index: 90;
}

.stillLifeImage {
  position: absolute;
  background-image: url("../../assets/images/stillLife.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 25vh;
  height: 30vh;
  top: 56vh;
  left: 40vh;
  z-index: 80;
}