//.mainImagesSlider {
  //width: 100%;
//}

.slider {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

//.slider :first-child {
//  margin-right: 24px;
//}

.slider div {
  cursor: pointer;
}

.leafsImage {
  background-image: url("../../../assets/images/leafs.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  //width: calc((50vw + 50vh) / 2.8);
  width: 427px;
  height: 224px;
  //height: calc((50vw + 50vh) / 5);
  overflow: hidden;
  border-radius: 15px;
  margin-right: 24px;
}

.tablewareImage {
  background-image: url("../../../assets/images/Tableware.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 427px;
  height: 224px;
  overflow: hidden;
  border-radius: 8px;
  margin-right: 24px;
}