.slider {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.slider div {
  cursor: pointer;
}

.leafsImage {
  background-image: url("../../../assets/images/leafs.png");
}

.tablewareImage {
  background-image: url("../../../assets/images/Tableware.png");
}

.leafsImage,
.tablewareImage {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 427px;
  height: 224px;
  overflow: hidden;
  border-radius: 8px;
  margin-right: 24px;

  @media screen and (min-width: 1880px) {
    width: 546px;
    height: 299px;
    margin-right: 41px;
  }
}