@import url('https://fonts.googleapis.com/css2?family=Unbounded&display=swap');

.heroSectionHero {
  font-family: Unbounded, sans-serif;
  font-size: 4vh;
  font-weight: 400;
  line-height: 2.6em;
  color: #1B4744;
  margin: 30vh 20px 15px 0;
}

.heroSectionHero span {
  background: #AACAD2;
  border-radius: 20px;
  display: inline-block;
  height: 11vh;
  width: 35vh;
}
