.btnArrow {
  width: 36px;
  height: 36px;
  border: 1px solid #B8CBC9;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  @media screen and (min-width: 1880px) {
    width: 48px;
    height: 48px;
  }
}

.leftArrow::before {
  content: '';
  border: solid #627C7A;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 4px;
  margin-left: 4px;
  transform: rotate(135deg);
}

.rightArrow::before {
  content: '';
  border: solid #627C7A;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 4px;
  margin-right: 4px;
  transform: rotate(-45deg);
}

.btnArrow:hover {
  background-color: rgba(184, 203, 201, 1);
  transition: all 0.4s ease-in-out 0s;
}