@import url('https://fonts.googleapis.com/css2?family=Unbounded&display=swap');

.heroSectionHero h1 {
  font-family: Unbounded, sans-serif;
  //font-size: calc((10vw + 10vh) / 4.5);
  font-size: 6.67vw;
  font-weight: 500;
  //line-height: 2.6em;
  color: #1B4744;
}