@import url('https://fonts.googleapis.com/css2?family=Unbounded&display=swap');

.heroSectionHero h1 {
  font-family: Unbounded, sans-serif;
  font-size: 96px;
  font-weight: 500;
  line-height: 0.745em;
  letter-spacing: 0.1px;
  color: #1B4744;


  @media screen and (min-width: 1880px) {
  /* CraftLand 1920*/
  font-size: 130px;
  line-height: 0.750em;
  }
}
