.brands {
  display: flex;
  flex-direction: column;
  height: 300px;
  @media screen and (min-width: 1880px) {
    height: 395px;
    margin-bottom: 24px;
  }
}

.title {
  margin: 41px 0 32px 0;
  @media screen and (min-width: 1880px) {
    margin: 75px 0 50px 0;
  }
}

.container {
  //width: 86.88vw;
  height: 142px;
  position: relative;
  @media screen and (min-width: 1880px) {
    height: 189px;
  }
}

.container::after {
  display: flex;
  content: "";
  position: absolute;
  //width: 100vw;
  height: 142px;
  background-color: #95B1AE;
  top: 0;
  left: -101px;
  right: -101px;
  //left: -6.5vw;
  z-index: -1;
  @media screen and (min-width: 1880px) {
    height: 189px;
  }
}

.sliderBrands {
  height: 142px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1013px;
  margin: 0 auto;
  @media screen and (min-width: 1880px) {
    height: 189px;
    width: 1350px;
  }
}

.sliderBrands img {
  width: 113px;
  height: auto;
  @media screen and (min-width: 1880px) {
    width: 150px;
    height: auto;
  }
}