.carousel {
  position: relative;
  width: 100%;
  max-width: 627px;
  margin: 0 auto;

  @media (max-width: 1028px) {
    max-width: 100%;
  }
}

.bigPhoto {
  max-width: 627px;
  max-height: 417px;
  border-radius: 8px;
  overflow: hidden;

  @media (max-width: 1028px) {
    max-width: 100%;
  }
}

.bigPhoto img {
  width: 100%;
  height: auto;
}

.navigation {
  position: absolute;
  top: 190px;
  left: 8px;
  right: 8px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;

  svg {
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }
  }

  @media (max-width: 768px) {
    top: 150px; /* Adjust as needed */
  }
}

.previews {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;

  @media (max-width: 768px) {
    overflow-x: scroll;
    margin-top: 8px;
  }
}

.previews img {
  max-width: 76px;
  border-radius: 6px;
  max-height: 76px;
  margin: 0;
  cursor: pointer;
  border: 2px solid transparent;
  transition: border-color 0.3s ease;

  @media (max-width: 768px) {
    max-width: 55px; /* Adjust as needed */
    max-height: 55px; /* Adjust as needed */
  }
}

.previews img.active {
  border-color: #1b4744;
}
