.main {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 5.55vw;
}

.mainScreen {
 display: grid;
  grid-template-columns: 1fr 1fr min-content;
  grid-template-rows: min-content min-content min-content min-content;
  gap: 10px 10px;
  grid-auto-flow: row;
  grid-template-areas:
    "Title Title ImageArea"
    "SubTitle SubTitle ImageArea"
    "BtnArea BtnArea ImageArea"
    "SliderArea SliderArea ImageArea";
}

.Title {
  grid-area: Title;
  padding: 3.5vh 0 0 5.55vw;
}

.SubTitle {
  grid-area: SubTitle;
  padding: 0 6vw 1vh 6vw;
}

.BtnArea {
  grid-area: BtnArea;
  display: flex;
  justify-content: center;
  padding-left: 3.47vw;
}

.SliderArea {
  grid-area: SliderArea;
  padding: 2.8vh 0.7vw 50px 4.375vw;

}

.ImageArea {
  grid-area: ImageArea;
  background-image: url("../../assets/images/Foto.png");
  background-position: center;
  background-size: auto 100%;
  background-repeat: no-repeat;
  width: calc((40vw + 40vh) / 2);
  height: calc((51vw + 51vh) / 2);
  margin: 3.8vh 5.55vw 50px 0;
  cursor: pointer;
}
