.bestsellers {
  height: 655px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: min-content min-content 1fr;
  gap: 10px 10px;
  grid-auto-flow: row;
  grid-template-areas:
    "title title title title"
    "nav nav nav nav"
    "cardArea1 cardArea2 cardArea3 cardArea4";
}

.title {
  grid-area: title;
  margin: 50px 0 50px 0;
}

.nav {
  grid-area: nav;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.cardArea1 {
  grid-area: cardArea1;
}

.cardArea2 {
  grid-area: cardArea2;
}

.cardArea3 {
  grid-area: cardArea3;
}

.cardArea4 {
  grid-area: cardArea4;
}

.cardArea1,
.cardArea2,
.cardArea3,
.cardArea4 {
  display: flex;
  //justify-content: center;
  //align-items: center;
}