.bestsellers {
  height: 655px;
  margin: 0 80px 0 80px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: min-content min-content 1fr;
  gap: 10px 10px;
  grid-auto-flow: row;
  grid-template-areas:
    "title title title title"
    "nav nav nav nav"
    "cardArea1 cardArea2 cardArea3 cardArea4";
}

.title {
  grid-area: title;
  margin: 50px 0 50px 0;
}

.nav {
  grid-area: nav;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.card-area2 {
  grid-area: cardArea2;
}

.card-area1 {
  grid-area: cardArea1;
}

.card-area3 {
  grid-area: cardArea3;
}

.card-area4 {
  grid-area: cardArea4;
}

.card-area1,
.card-area2,
.card-area3,
.card-area4 {
  display: flex;
}