.waterMark {
  display: flex;
  position: absolute;
  background-image: url("../../../assets/images/FonCraftLand.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 1233px;
  height: 153px;
  left: 14.87px;
  top: 239.4px;
  z-index: -5;
}