.waterMark {
  display: flex;
  position: absolute;
  background-image: url("../../../assets/images/FonCraftLand.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 1233px;
  height: 153px;
  left: 14.87px;
  top: 239.4px;
  z-index: -5;

  @media screen and (min-aspect-ratio: 1/2) {
    display: none;
  }

  @media screen and (min-width: 1880px) {
    width: 1662px;
    height: 192px;
    top: 308px;
    left: calc(50% - 1662px/2 - 120px);
    font-size: 255.61px;
    line-height: 47px;
    /* or 18% */
    //opacity: 0.03;
  }
}