
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 560px;
  width: 100%;
  padding: 64px 59px 56px 59px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  z-index: 100000;
  font-family: Inter Tight, serif;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
}

.closeButton {
  position: absolute;
  top: 32px;
  right: 32px;
  background: none;
  border: none;
  cursor: pointer;
  color: #333;
}
