.novelties {
  height: 665px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: min-content 52px 1fr;
  gap: 30px 25.7px;
  grid-auto-flow: row;
  grid-template-areas:
    "title title title title"
    "nav nav nav nav"
    "cardArea1 cardArea2 cardArea3 cardArea4";
}

.title {
  grid-area: title;
  margin: 41px 0 3px 0;
}

.nav {
  grid-area: nav;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav div {
  margin-top: 8px;
}

.cardArea1 {
  grid-area: cardArea1;
}

.cardArea2 {
  grid-area: cardArea2;
}

.cardArea3 {
  grid-area: cardArea3;
}

.cardArea4 {
  grid-area: cardArea4;
}

.cardArea1,
.cardArea2,
.cardArea3,
.cardArea4 {
  display: flex;
  margin-top: 8px;
  //justify-content: center;
  //align-items: center;
}