.wrapper {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  padding-left: 80px;

  .description {
    margin-top: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;
    color: #364058;
  }
}

.carousel {
  margin-top: 20px;
}
