.paginatorComponent,
.paginatorContainer {
  display: flex;
  margin: 24px auto 52px;
}

.paginatorComponent {
  width: 700px;
  height: 161px;
  margin: 0 auto;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.containerBtnDimensions {
  display: flex;
  height: 52px;
}
/* Показати ще */

//width: 110px;
//height: 22px;

/* Menu */
//font-family: 'Roboto';
//font-style: normal;
//font-weight: 400;
//font-size: 18px;
//line-height: 120%;
                  /* identical to box height, or 22px */

                  /* C2 */
                //color: #95B1AE;


/* Inside auto layout */
//flex: none;
//order: 1;
//flex-grow: 0;
/* Component 11 */